* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: clamp(40%, 1% + 3vw, 62.5%);

    --color-water: #5090D6;
}

.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;

    margin: -1px;
    padding: 0px;
    border: 0;
    appearance: none;
}


#app {
    margin: 0 auto;
    max-width: 50rem;
    font: normal 1.6rem "Arial", sans-serif;
    padding: 2rem
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h3 {
    margin: .8rem 0;
}

p{
    font-size: 1.3rem;
}

.searchPokemon .search-container {
    display: flex;
    flex-direction: column;
}

#input {
    border: 1px solid black;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
}

#input input {
    margin: 1.6rem 1rem;
    font-size: 1.6rem;
    border: 0;
    outline: 0;
}

#input button{
    background: #cdcdcd;
    border: 0;
    border-radius: 0 2rem 2rem 0;
    width: 50px;
    font-size: 2rem;
    cursor: pointer;
}

.showPokemons {
    position: relative;
}

.showPokemons ul {
    margin-top: 2rem;
}

.noneSearch {
    background: #cdcdcd;
    height: 10rem;
    border-radius: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.noneSearch::before {
    content: 'Nenhum Pokémon pesquisado ainda!';
    font-weight: bold;
    position: absolute;
    z-index: 2;
    display: flex;
    align-self: center;
}

.showPokemons ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    padding: 0 0 0 1.6rem;

    background-color: #EBF1F8;
}


.showPokemons .img-container {
    width: 13rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-water);
    border-radius: 2rem;
    position: relative;
}


.showPokemons .img-container .addToTeam{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1rem;
    right: 1rem;
    background: rgba(0, 0, 0, 0.5);
    padding: .7rem;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

.showPokemons .img-container img {
    height: 10rem;
    margin-right: 1rem;
}

.myTeam{
    max-height: 45rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.myTeam ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    flex-wrap: wrap;
}

.myTeam ul li {
    background: #EBF1F8;
    padding: 1rem 1.5rem 0;
    border-radius: 1.6rem;
}
.myTeam ul li button{
    display: none;
}

.teamEmpty{
    background: #cdcdcd;
    height: 20rem;
    border-radius: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.teamEmpty::before {
    content: 'Seu time esta vazio:(';
    font-weight: bold;
    position: absolute;
    z-index: 2;
    display: flex;
    align-self: center;
}

/* classes */

.type{
    display: flex;
    gap: 1rem;
}

.type span{
    display: inline-flex;
    align-items: center;
    padding: .5rem;
    border-radius: .8rem;
    font-size: 1.3rem;
    color: white;
}
